
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.28);
  }

  .signup-modal-content {
    position: absolute;
    background-color:white;
    border-radius: 15px;
  }
  .form-modal-main-container{
    padding: 10px;
    width:300px;
  }

  .form-header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form-header-div>h1{
    margin:0px
  }


  .form-errors{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .text-area{
    height: 100px;
  }

  .form-input{
    width: 280px;
    padding-left: 10px;
    border: .5px solid rgba(0, 0, 0, 0.28);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .form-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
